
<div>

<!-- you can do modulus! I will have to re-write this again -->
    <!-- {{ 12 | modulo: 5 }} -->

    {% assign pageWidth = width | divided_by: '5' %}

    {% assign page = start | minus: 1 %}
    {% assign col = 0 %}

    <table>

        <tr>

        {% for i in (start..end) %}

        {% assign col = col | plus: 1 %}
        {% assign mod = i | modulo: 5 %}


            {% capture page %}{{ page | plus: '1' }}{% endcapture %}

            {% assign strLength = page | size %}
            {% assign pad = 4 %}

            {% assign padLength = pad | minus: strLength %}
                {% if padLength > 0 %}
                    {% assign padded = page %}
                    {% for position in (1..padLength) %}
                        {% assign padded = padded | prepend: '0' %}
                    {% endfor %}
                {% endif %}

            {% assign pagePlusTen = page | plus: '10' %}

            {% capture src %}{{'https://d2zwcujesf1bgv.cloudfront.net/prod/v12/images/tiny_preload_size/forever_'}}{{ padded }}{{'.jpg'}}{% endcapture %}

            {% if i > 0 %}
                <td>
                    <a href="http://www.foreverscape.com/detail/?start={{page}}&end={{pagePlusTen}}" >
                        <img alt="Page {{page}} of the ForeverScape" src="{{ src }}" style="width:{{pageWidth}}px;" />
                    </a>

                </td>
            {% endif %}

            {% if mod == 0 %}

                </tr><tr>
            {% endif %}



    {% endfor %}

        </tr>

    </table>

    Pages {{start}} to {{end}} of the <a href="http://www.foreverscape.com">ForeverScape project</a>. <hr/><br/>



</div>
