
<div>

<!-- you can do modulus! I will have to re-write this again -->
    <!-- {{ 12 | modulo: 5 }} -->


    {% assign page = start | times: 5 %}

    {{ start }}

    <table>



        {% for i in (start..end) %}
        <tr>
            {% for q in (0..4) %}

            {% capture page %}{{ page | plus: '1' }}{% endcapture %}

            {% assign strLength = page | size %}
            {% assign pad = 4 %}

            {% assign padLength = pad | minus: strLength %}
                {% if padLength > 0 %}
                    {% assign padded = page %}
                    {% for position in (1..padLength) %}
                        {% assign padded = padded | prepend: '0' %}
                    {% endfor %}
                {% endif %}

            {% capture src %}{{'https://d2zwcujesf1bgv.cloudfront.net/prod/v12/images/tiny_preload_size/forever_'}}{{ padded }}{{'.jpg'}}{% endcapture %}

                <td><img src="{{ src }}" style="width:{{width}}px;" /></td>

            {% endfor %}
        </tr>
    {% endfor %}

    </table>

</div>
